# --- Master Controller Configuration ---
master_id = master_instance_1
master_ip = 127.0.0.1

# Communication Ports
port_c = 8080
port_b = 9001
port_a = 7001

# PostgreSQL Database Connection
db_conn = dbname=amgreatdb user=amgreat password=amgreat host=localhost port=5432

# --- Worker Node Endpoints (Managed by Master Routing) ---
node_1 = 127.0.0.1:9001
node_2 = 127.0.0.1:9002
node_3 = 127.0.0.1:9003

# Add to config.cfg
voice_node_1 = 127.0.0.1:9010
voice_node_2 = 127.0.0.1:9011